h1{
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
	background-color: lightblue;
	padding-top : 10px;
	padding-bottom: 10px;
}
.completed{
	color : green;
	font-style: italic;
	text-decoration: line-through;
}

#ulTaskList li{
	list-style: none;
	border : 1px solid gray;
	margin: 3px;
	padding : 5px;
	border-radius: 4px;
}